{% extends 'base.html' %}

{% block title %}UK Export{% endblock %}

{% block content %}
<style>
    /* Use CSS margin to center the card */
  
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-bottom: 20px; 
    }
</style>

<div class="container-fluid mt-5">
    {% if messages %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-4 d-flex align-items-center">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">UK Dispatch</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="qr_string" class="form-label">Enter or Scan QR Code:</label>
                            <input type="text" class="form-control" id="qr_string" name="qr_string" required>
                        </div>
                        <div class="mb-3">
                            <label for="Cutomer" class="form-label">Customer</label>
                            <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="quanatity_dispatched">Qunatity Dispatched</label>
                            <input type="number"  class="form-control" name="quantity_dispatched" class="form-control" >
                        </div>
                        <div class="mb-3">
                            <label for="quanatity_remaining">Quantity Remaining</label>
                            <input type="number"  class="form-control" name="quantity_remaining" class="form-control" >
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Export</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
